/****************************************
  Reset
*****************************************/

html, body, header, nav, p, h1,
ul, li, strong, main, button, i,
section, img, div, h2, h3, form,
label, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}



input[type='text'],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* Clearfix */

.group:after {
  content: '';
  display: block;
  clear: both;
}


/****************************************
  General
*****************************************/


body {
  width: 100%;
  font-family: Verdana, arial, sans-serif;
  font-size: 16px;
  color: gray;
}

.layout-container {
  width: 900px;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
}

code {
  backgroung: lightgray;
}



/****************************************
  Title Form
*****************************************/

header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
}

.header-title {
  margin-top: 3px;
  float: left;
}

.header-form {
  float: left;
}

label {
  margin-right: 10px;
  margin-left: 10px;
}

input {
  font-size: 28px;
  color: gray;
}

input[type='text'] {
  width: 190px;
  padding-left: 3px;
}

button {
  position: relative;
  padding: 3px 10px;
  margin-left: 10px;
  color: #fff;
  background: #00bf8f;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #070;
}

button:hover {
  background: #00B084;
}

button:active {
  top: 3px;
  background: #00B084;
  box-shadow: none;
}

.error {
  width: 500px;
  /*background-color: #ff8080;*/
  color: white;
  /*border: 1px solid red;*/
  color: red;
  font-size: 24px;
  text-align: center;
}



/****************************************
  Issue List
*****************************************/

.error-container {
  width: 470px;
  margin: 0 auto;
}

.error-list > li:before {
  content: '- '
}

.issue-list > li {
  border: 1px solid lightgray;
  border-bottom: none;
  padding: 15px;
  cursor: pointer;
}

.issue-list > li:hover {
  border: 3px solid #00bf8f;
  padding: 13px;
  padding-bottom: 12px;
}

.issue-list > li:last-child {
  border-bottom: 1px solid lightgray;
}

.issue-list > li:last-child:hover {
  border-bottom: 3px solid #00bf8f;
  padding-bottom: 13px;
}


/****************************************
  Issue Item
*****************************************/

.item-issue-info {
  padding-left: 20px;
  float: left;
  width: 730px;
}

.item-issue-info {
  padding-left: 20px;
  float: left;
  width: 730px;
}

.item-issue-preview {
  padding-top: 5px;
  padding-bottom: 5px;
}

.issue-number {
  color: lightgray
}


/****************************************
  Avatar
*****************************************/

.avatar-container {
  width: 110px;
  height: auto;
  text-align: center;
  float: left;
  cursor: pointer;
}

.avatar-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.avatar-container:hover .avatar-name {
  color: #00bf8f;
  text-decoration: underline;
}

.avatar-name {
  font-size: 14px;
}


/****************************************
  Pagination
*****************************************/

.disabled {
  pointer-events: none;
  color: lightgray;
}

.pagination-list {
  float: right;
}

.pagination-list > li {
  float: left;
  margin: 10px;
  text-decoration: underline;
}

.pagination-list > li:hover {
  color: #00bf8f;
}

.pagination-list > li:nth-child(3) {
  text-decoration: none;
}

.pagination-list > li:nth-child(3):hover {
  color: gray;
}



/****************************************
  Labels
*****************************************/

.label-list > li {
  display: inline;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  font-size: 10px;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
}

.issue-details-title {
  font-size: 30px;
  margin: 40px 0 15px 0;
  font-family: Arial;
}

.issue-state {
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
  margin: 10px;
  font-size: 26px;
}


/****************************************
  Conversation Cell
*****************************************/
.convo-cell-container {
  margin: 20px 0;
}

.convo-cell-body {
  float: right;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 730px;
  padding: 15px;
  position: relative;
  min-height: 80px;
}

.convo-cell-body img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*gray triangle for tultip border*/
.convo-cell-body:before {
  content: '';
  position: absolute;
  left: -15px;
  top: 45px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid lightgray;
}

/*white triangle for tultip*/
.convo-cell-body:after {
  content: '';
  position: absolute;
  left: -13px;
  top: 45px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid white;
}


 code {
  font-family: Courier, monospace;
  font-size: 14px;
  display: inline;
  overflow: auto;
  background-color: lightgray;
}

/*pre code {
  display: inline;
  max-width: 600px;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  border: 0;
}*/
pre>code {
  max-width: auto;
  display: block;
  overflow: auto;
  word-break: normal;
  white-space: pre;
  margin: 10px 0;

}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}
